* {
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.container {
    position: relative;
    width: 600px;
    height: 400px;
    margin:100px auto 0 auto;
    box-shadow: 0 0 5px green;
    overflow: hidden;
}
.container .wrap {
    position: absolute;
    width: 4200px;
    height: 400px;
    z-index: 1;
}
/*z-index 属性设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面。Z-index 仅能在定位元素上奏效*/
.container .wrap img {
    float: left;
    width: 600px;
    height: 400px;
}
.container .buttons {
    position: absolute;
    right: 5px;
    bottom:40px;
    width: 150px;
    height: 10px;
    z-index: 2;
}
.container .buttons span {
    margin-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    text-align: center;
    color:white;
    cursor: pointer;
}
.container .buttons span.on{
    background-color: red;
}
.container .arrow {
    position: absolute;
    top: 35%;
    color: green;
    padding:0 14px;
    border-radius: 50%;
    font-size: 50px;
    z-index: 2;
    display: none;
}
.container .arrow_left {
    left: 10px;
}
.container .arrow_right {
    right: 10px;
}
.container:hover .arrow {
    display: block;
}
.container .arrow:hover {
    background-color: rgba(0,0,0,0.2);
}
html {
    background-color: white;
    text-align: center;
}
body {
    background-color: aliceblue;
    width: 750px;
    padding-bottom: 30px;
    margin: 0 auto;
}
table {
    width: 600px;
    margin: 30px auto;
    box-shadow: 0 0 5px grey;
    border-radius: 10px;
    table-layout: fixed;
}
td {
    font-weight: bold;
    text-align: left;

}
h3 {
    text-align: center;
    padding-top: 30px;
}